.product-card{
    width: 90%;
    height: 45vh;
    box-shadow: 12px 12px 24px rgba(0,0,0,0.5);
    background-color: white;
    background-color: gray;
}

body{
    margin: 0;
    background-color: cornflowerblue;
}

.product-card-holder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 24px;
    justify-items: center;
    row-gap: 16px;
    margin-top: 16px;
}

.poster-container{
    height: 65%;
    background-color: white;
}

.poster{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.prod-name{
    margin: 0;
    font-size: 1.7rem;
    text-align: left;
}

.price{
    margin: 0;
    text-align: left;
    font-size: 2.3rem;
    font-weight: 500;
    color: white;
}

.link:link{
    color: white;
    text-decoration: none;
}

.link:visited{
    color: white;
    text-decoration: none;
}

.link:hover{
    text-decoration: none;
    color: rgb(108, 180, 0);
}

.link:active{
    text-decoration: none;
}
    
.prod-details{
    background-color: gray;
    margin: 0;
    
}